/* Rails Camp */

.header-notice {
	margin: 0;
	padding: .25rem;
	background-color: #cb717b;
	color: white;
	font-size: .8rem;
}
	
.header-notice p {
	font-size: .8rem;
	text-align: center;
}	

.session {
	clear: both;
	display: block;
}

.session .scheduling .slot {
	display: block!important;
}

.scheduling .event {
	display: none;
}

.sesssion.logistical img {
	display: none!important;
}

.summary,
.summary p {
	text-align: left!important;
	padding: 0!important;
	margin: 0!important;
	width: 100%!important;
}

.session .subtitle {
	display: none;
}