/* Rails Camp */

body {
	margin: 0;
	padding: 1em;
	background-color: #A62C39;
}
	

a,
a:visited {
	color: white;
}	


p {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
	 font-size: 1.25em;
}

.body {
	text-align: center;
	display: block;
	margin-top: 5%;
}


p.name {
  color: white;
  font-weight: 200;
 	font-size: 2em;
	margin-top: 15%;
	margin: 0;
	padding: 0;
}

p.date {
  color: white;
  font-weight: 200;
 	font-size: 1.5em;
	margin: 1em 0 .5em;
	padding: 0;
}

p.venue {
  color: white;
  font-weight: 100;
 	font-size: 1.25em;
	margin: 0 0 1em;
	padding: 0;
}

p.updates {
  color: white;
  font-weight: 300;
 	font-size: 1em;
	margin: 1em 0;
	padding: 0;
}

 
#logo {
	width: 200px;
	height: auto;
	margin: 0 auto;
	padding: 1em;
}


.header {
	width: 100%;
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
	padding: 1em;
}


.header .icon-links {
	float: right;
	padding-right: 2em;
}

.header .icon-links a {
	padding: .25em;
	display: inline-block;
	color: white;
}

#updated {
	position: absolute;
	right: 0;
	bottom: 0;
	color: white;
	padding: .75em;
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}




#mc_embed_signup {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	border: 1px solid maroon;
	background-color: maroon;
}

#mc_embed_signup_scroll {
	text-align: center;
}

#mc_embed_signup h2 {
	color: white;
	font-size: 1.25em;
}

#mc_embed_signup label {
	color: white;
}

#mc_embed_signup .indicates-required {
	color: silver;
	padding: .25em;
	clear: both;
}

#mc_embed_signup .mc-field-group {
	padding: .25em;
}

#mc_embed_signup input {
	width: 70%;
	text-align: center;
}

#mc-embedded-subscribe {
	background-color: #ce8989;
	border-style: none;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: .5em;
	font-size: 1.25em;
	margin-top: .5em;
}
